/*------------variables-------------------*/

@import 'sassFiles/utils/utils.scss' ;

/*-------------- mixins --------------------*/

@import './sassFiles/utils/mixins.scss' ;

/*------------- EXPEND ---------------------*/


.messageFooter{
    border: 1px solid $borderColor;
    padding: $standartPadding;
    color: $clearColor ;
}

/*------------------------------------------*/

body {
    font: 100% "Space Mono", monospace;
    color: $primaryTextColor;
    margin: 0;
    padding: 0;
    background-color: $clearColor ;
    overflow-x: hidden;
}

main {
    padding: 0 $standartPadding;
}

article {
    display: flex;
    flex-wrap: wrap;
    & section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $borderColor solid;
        @include boxShadow($primaryTextColor);
        padding: $standartPadding;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        &#selling-points {
            flex-grow: 2;
            flex-basis: 100%;
        }
    }
    & code {
        background: #000;
        border: 1px solid $primaryTextColor;
        color: $borderColor;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        &.before {
            float: left;
            width: 40%;
        }
        &.after {
            float: right;
            width: 40%;
        }
    }
}


h1,
h2,
h3 {
    color: $footerColor;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: $standartPadding * 2;
    margin-bottom: 0px;
}

.messages {
    padding: $standartPadding;
}



.success {
    @extend .messageFooter;
    background-color: $succesColor;
}

.error {
    @extend .messageFooter; 
    background-color: $errorColor;
    &:hover{
        background-color: $succesColor;
    }
}

.warning {
    @extend .messageFooter;
    background-color: $warningColor;
}